<main id="container" class="bg-[#fcf9ee]">
	<main>
		<div>
			<img 
				src="/src/assets/IzquierdaSVG.svg" 
				alt="logo de la marca"
				class="w-[100px] h-[100px]"
				>
		</div>
		<article>
			<header>

			</header>
			<h1>

			</h1>
		</article>
		<div>
			esto va al lado derecho, y con la palabra carrito
		</div>
	</main>
	 

</main>