<main id="container" class="bg-[#fcf9ee]">
	<main class="flex justify-between">
		<div class="fixed">
			<img 
				src="/src/assets/IzquierdaSVG.svg" 
				alt="logo de la marca"
				class="w-[200px] h-[200px]"
				>
		</div>
		<article>
			<header class="flex justify-center">
				<div class="font-Cyberthron text-2xl">InK MoDe</div>
			</header>
			<h1 class="text-right">
				SPRING,<br>
				SUMMER

			</h1>
		</article>
		<div>
			esto va al lado derecho, y con la palabra carrito
		</div>
	</main>
	 

</main>