<main id="container" class="bg-[#fcf9ee]">
	<main class="flex fixed flex-row justify-between w-full">
		<div class="">	
			<img 
				src="/src/assets/IzquierdaSVG.svg" 
				alt="logo de la marca"
				class="w-[200px] h-[200px]"
				>
		</div>
		<header class="flex justify-center">
			<div class="font-Cyberthron text-2xl">InK MoDe</div>
		</header>
		
		<div class="inline-block">
			esto va al lado derecho, y con la palabra carrito
		</div>
	</main>
	<article class=" relattive z-10">
		
		<h1 class="text-right">
			SPRING,<br>
			SUMMER

		</h1>
		<h1 class="text-right">
			SPRING,<br>
			SUMMER

		</h1>
		<h1 class="text-right">
			SPRING,<br>
			SUMMER

		</h1>
	</article>
	 

</main>